%link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/popup.css'}
%table
  %tr
    %td{:colspan => 3}
      %h1 Rag Picker
  %tr
    %td
      %a.icon#clip-thumb
    %td
      %a.icon#list-thumb
    %td
      %a.icon#submit-thumb
%script{:src => 'vendor/jquery-2.0.3.js'}
%script{:src => 'js/popup.js'}
